################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductManager.API/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/productmanager.api.metadata.v6.1
/.vs/ProjectEvaluation/productmanager.api.projects.v6.1
/.vs/ProductManager.API/v17/.suo
/.vs/ProductManager.API/v17/.futdcache.v2
/.vs/ProductManager.API/FileContentIndex/e4cca22d-567d-401c-a69f-f12378f1b74d.vsidx
/.vs/ProductManager.API/FileContentIndex/b92da343-0d12-4c4b-b37c-c3e59d759a77.vsidx
/.vs/ProductManager.API/FileContentIndex/a2cfddb0-55d7-4574-9103-5ca093dab5a9.vsidx
*.dll
/ProductManager.API/bin/Debug/net6.0/ProductManager.API.pdb
/ProductManager.API/bin/Debug/net6.0/ProductManager.API.dll
/ProductManager.API/bin/Debug/net6.0/ProductManager.API.deps.json
/ProductManager.API/bin/Debug/net6.0/appsettings.json
/ProductManager.API/bin/Debug/net6.0/appsettings.Development.json
/ProductManager.API/obj/Debug/net6.0/ref/ProductManager.API.dll
/ProductManager.API/obj/project.nuget.cache
/ProductManager.API/obj/project.assets.json
/ProductManager.API/obj/ProductManager.API.csproj.nuget.g.targets
/ProductManager.API/obj/ProductManager.API.csproj.nuget.dgspec.json
/ProductManager.API/obj/Debug/net6.0/refint/ProductManager.API.dll
/ProductManager.API/obj/Debug/net6.0/project.razor.vs.json
/ProductManager.API/obj/Debug/net6.0/ProductManager.API.pdb
/ProductManager.API/obj/Debug/net6.0/ProductManager.API.dll
/ProductManager.API/obj/Debug/net6.0/ProductManager.API.csproj.FileListAbsolute.txt
/ProductManager.API/obj/Debug/net6.0/ProductManager.API.csproj.CoreCompileInputs.cache
/ProductManager.API/obj/Debug/net6.0/ProductManager.API.csproj.AssemblyReference.cache
/ProductManager.API/obj/Debug/net6.0/ProductManager.API.assets.cache
/.vs/ProductManager.API/FileContentIndex/d9291aec-9e2f-4e25-907c-3e82171e16d4.vsidx
/.vs/ProductManager.API/FileContentIndex/74bfa9a2-4dbe-4b5e-a708-93f1a21ccb69.vsidx
/.vs/ProductManager.API/FileContentIndex/723d3c21-3184-4253-8c90-a99f07d3c041.vsidx
/.vs/ProductManager.API/FileContentIndex/36611ddc-8505-46f5-8b89-5e55856c1a48.vsidx
/.vs/ProductManager.API/FileContentIndex/1bd4b8f2-3b94-42aa-aa00-15fc492b3ac9.vsidx
*.log
/.vs/ProductManager.API/FileContentIndex/36611ddc-8505-46f5-8b89-5e55856c1a48.vsidx
/.vs/ProductManager.API/FileContentIndex/36611ddc-8505-46f5-8b89-5e55856c1a48.vsidx
/.vs/ProductManager.API/FileContentIndex/c8b54562-617e-4268-822f-f5dc022172c5.vsidx
/.vs/ProductManager.API/FileContentIndex/797e7dd3-61f3-4147-8af7-0991bfc87a3d.vsidx
/.vs/ProductManager.API/FileContentIndex/6cc4766c-fddb-42b7-93ae-06027de680e7.vsidx
/.vs/ProductManager.API/FileContentIndex/328f32ea-6282-4cb3-b18c-2b8341cefb49.vsidx
/ProductManager.Infra/obj/Debug/net6.0/refint/ProductManager.Infra.dll
/ProductManager.Infra/obj/Debug/net6.0/ProductManager.Infra.pdb
/ProductManager.Infra/obj/Debug/net6.0/ProductManager.Infra.dll
/ProductManager.Infra/obj/Debug/net6.0/ProductManager.Infra.csproj.BuildWithSkipAnalyzers
/ProductManager.Infra/obj/Debug/net6.0/ProductManager.Infra.csproj.AssemblyReference.cache
/ProductManager.Infra/obj/Debug/net6.0/ref/ProductManager.Infra.dll
/ProductManager.Infra/bin/Debug/net6.0/ProductManager.Infra.pdb
/ProductManager.Infra/bin/Debug/net6.0/ProductManager.Infra.dll
/ProductManager.Infra/bin/Debug/net6.0/ProductManager.Core.pdb
/ProductManager.Infra/bin/Debug/net6.0/ProductManager.Core.dll
/ProductManager.Domain/obj/Debug/net6.0/ProductManager.Domain.pdb
/ProductManager.Domain/obj/Debug/net6.0/ProductManager.Domain.dll
/ProductManager.Domain/obj/Debug/net6.0/ProductManager.Domain.csproj.BuildWithSkipAnalyzers
/ProductManager.Domain/obj/Debug/net6.0/ProductManager.Domain.csproj.AssemblyReference.cache
/ProductManager.Domain/bin/Debug/net6.0/ProductManager.Infra.pdb
/ProductManager.Domain/bin/Debug/net6.0/ProductManager.Infra.dll
/ProductManager.Domain/bin/Debug/net6.0/ProductManager.Domain.pdb
/ProductManager.Domain/bin/Debug/net6.0/ProductManager.Domain.dll
/ProductManager.Domain/bin/Debug/net6.0/ProductManager.Core.pdb
/ProductManager.Domain/bin/Debug/net6.0/ProductManager.Core.dll
/ProductManager.Core/obj/Debug/net6.0/refint/ProductManager.Core.dll
/ProductManager.Core/obj/Debug/net6.0/ref/ProductManager.Core.dll
/ProductManager.Core/obj/Debug/net6.0/ProductManager.Core.pdb
/ProductManager.Core/obj/Debug/net6.0/ProductManager.Core.dll
/ProductManager.Core/obj/Debug/net6.0/ProductManager.Core.csproj.CoreCompileInputs.cache
/ProductManager.Core/obj/Debug/net6.0/ProductManager.Core.csproj.BuildWithSkipAnalyzers
/ProductManager.Core/bin/Debug/net6.0/ProductManager.Core.pdb
/ProductManager.Core/bin/Debug/net6.0/ProductManager.Core.dll
/ProductManager.API/bin/Debug/net6.0/ProductManager.Infra.pdb
/ProductManager.API/bin/Debug/net6.0/ProductManager.Domain.pdb
/ProductManager.API/bin/Debug/net6.0/ProductManager.Core.pdb
/.vs/ProductManager.API
/ProductManager.API/bin/Debug/net6.0
/ProductManager.API/obj
/ProductManager.Core/bin/Debug/net6.0
/ProductManager.Core/obj
/ProductManager.Domain/bin/Debug/net6.0
/ProductManager.Domain/obj
/ProductManager.Infra/bin/Debug/net6.0
/ProductManager.Infra/obj
